In [1]:
import sys
% matplotlib inline
sys.path.append('/Users/annasintsova/git_repos/spatial_dynamics_of_gene_expression_in_response_to_T6SS_attack/lib')
from settings import *

In [2]:
df = pd.read_csv(sequencing_stats_file, index_col = 0)
df.index = ["S"+d.split("_")[0] for d in df.index]
df["% Mapped"] =round(df["% Mapped"]*100,1)

In [3]:
sd = pd.read_csv(study_design_file, index_col=0)
sd["group.ID"] = sd["group.ID"].apply(lambda x: samples[x])
sd.head()

          lane.ID       group.ID time.point strain.ID position  RIN
unique.ID
S63630         L1  Merge | 0 min        0''        HI     L-HI  NaN
S63631         L1  Merge | 0 min        0''        HI     L-HI  NaN
S63632         L1  Merge | 0 min        0''        HI     L-HI  NaN
S63633         L1  Merge | 4 hrs         4'        HI     L-HI  NaN
S63634         L1  Merge | 4 hrs         4'        HI     L-HI  NaN

In [4]:
final_stat = sd[["group.ID"]].merge(df, right_index=True, left_index=True)

In [6]:
final_stat = final_stat.rename(columns={"group.ID":"Sample"})
final_stat.head()

               Sample     Total    Mapped  % Mapped
S63630  Merge | 0 min  32859410  32121042      97.8
S63631  Merge | 0 min  29945225  29451361      98.4
S63632  Merge | 0 min  29061864  28781175      99.0
S63633  Merge | 4 hrs  28067896  27208082      96.9
S63634  Merge | 4 hrs  24047530  22646537      94.2

In [15]:
final_stat.to_csv(os.path.join(data_folder, "Alignment_Stats.csv"))